/**
 * Minified by jsDelivr using clean-css v4.2.3.
 * Original file: /npm/modern-normalize@1.0.0/modern-normalize.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
    box-sizing: border-box
}

:root {
    -moz-tab-size: 4;
    tab-size: 4
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

body {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'
}

hr {
    height: 0;
    color: inherit
}

abbr[title] {
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder
}

code, kbd, pre, samp {
    font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, select {
    text-transform: none
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button
}

::-moz-focus-inner {
    border-style: none;
    padding: 0
}

:-moz-focusring {
    outline: 1px dotted ButtonText
}

:-moz-ui-invalid {
    box-shadow: none
}

legend {
    padding: 0
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

body {
    background-color: whitesmoke;
}

* {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
}

::selection {
    background: royalblue;
    color: white;
}

.main-content {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    color: #264459;
    font-weight: 300;
}

.main-content h1::before,
.main-content h2::before,
.main-content h3::before,
.main-content h4::before,
.main-content h5::before,
.main-content h6::before {
    content: '⦔ '
}

.main-content p {
    color: #425d6d;
    font-weight: 400;
}

strong {
    color: #264459;
    font-weight: 600;
}

.info {
    background-color: #f0ecf6;
    padding: 10px;
    border-radius: 2px;
    color: #4c5fa0;
}

code,
code * {
    font-family: "JetBrains Mono", "Fira Code", "Roboto Mono", SFMono-Regular, Menlo, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Monaco,Courier New", Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: .925em;
    line-height: 17.0167px;
    letter-spacing: 0.4px;
}

p > pre,
main > pre,
div > pre {
    color: #00f;
    background: #fff;
    padding: .0625em .3125em;
    border-radius: 3px;
    overflow-x: auto;
}

p > code,
main > code,
div > code,
p > pre > code,
main > pre > code,
div > pre > code {
    color: #00f;
    background: #fff;
    text-align: left;
    -moz-tab-size: 2;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    tab-size: 2;
    hyphens: none;
    padding: .0625em .3125em;
    border-radius: 3px;
}

mark {
    background-color: yellow;
    border-radius: 3px;
}

blockquote {
    border: 1px dashed gray;
    margin: 5px 0;
    border-radius: 3px;
    color: #4c5fa0;
    padding: 0 5px;
}

hr {
    border: 0;
    border-top: 1px solid #c9cdef;
    margin: 1em 0;
}

a {
    color: #4d7dfe;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
}

a:hover {
    color: #453eea;
}

ul {
    list-style: none;
    padding-left: 2ch;
}

ul li {
    color: #425d6d;
    text-indent: -2ch;
    margin-top: 3px;
}

ul li::before {
    content: '✧ ';
    font-weight: bold;
}

.header {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}

.header .site-name {
    font-size: 28px;
    color: #264459;
    font-weight: 400;
}

.header .site-links {
    width: 100%;
    margin-top: 10px;
}

.header .site-links a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #264156;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 17px;
}

.header .site-links a:focus,
.header .site-links a:hover {
    outline: none;
}

.header .site-links a::before,
.header .site-links a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.header .site-links a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.header .site-links a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.header .site-links a:hover::before,
.header .site-links a:hover::after,
.header .site-links a:focus::before,
.header .site-links a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

.post-meta {
    display: flex;
    border-bottom: 1px dashed #402f99;
}

.post-meta .post-title {
    flex-grow: 1;
}

.post-meta .post-date {
    color: #264156;
    font-size: 12px;
    text-align: right;
    width: 80px;
}

footer {
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin: 10px auto 0;
    font-weight: 300;
}

@media (max-width: 900px) {
    .main-content {
        padding: 0 20px;
    }

    header {
        padding: 0 20px;
    }

    footer {
        padding: 0 20px;
    }
}

div.highlight table tbody > tr > td:nth-child(1) {
    min-width: 27px;
}

/* from https://github.com/athul/archie/blob/master/static/css/main.css*/
.highlight {
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.highlight pre code[class*="language-"] {
    -webkit-overflow-scrolling: touch;
}

.highlight pre code[class*="language-"]::before {
    background: black;
    border-radius: 0 0 0.25rem 0.25rem;
    color: white;
    font-size: 12px;
    letter-spacing: 0.025rem;
    padding: 0.1rem 0.5rem;
    position: absolute;
    right: 1rem;
    text-align: right;
    text-transform: uppercase;
    top: 0;
}

.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
    content: "js";
    background: #f7df1e;
    color: black;
}

.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
    content: 'yaml';
    background: #f71e6a;
    color: white;
}

.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
    content: 'shell';
    background: green;
    color: white
}

.highlight pre code[class*='language-json']::before {
    content: 'json';
    background: dodgerblue;
    color: #000000
}

.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
    content: 'py';
    background: blue;
    color: yellow;
}

.highlight pre code[class*='language-css']::before {
    content: 'css';
    background: cyan;
    color: black;
}

.highlight pre code[class*='language-html']::before {
    content: 'html';
    background: cyan;
    color: black;
}

.highlight pre code[class*='language-go']::before {
    content: 'Go';
    background: cyan;
    color: royalblue;
}

.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before {
    content: 'Markdown';
    background: royalblue;
    color: whitesmoke;
}
